*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.btn_hire{
    background: #FD6E0A;
    color:white;
    border:none;
    outline:none;
    height: 64px;
    width:150px;
    border-radius: 5px;
    
}
.btn_hire:hover{
    background:#CF5500;
    transition: 0.3s;
   
}

.navigation{
    background-color: #FFF8F3;
}
.hero{
    background-color: #FFF8F3;  
}
.sides{
    padding-right: 130px;
}
.btn-nav:hover{
    color:#CF5500;
    transition: 0.3s;

}
.btn-download{
         background: #FD6E0A;
         border:none;
         outline:none;
         color:white;
         width: 200px;
         height: 64px;
         border-radius: 5px;        
}
.btn-download:hover{
    background:#CF5500;
    transition: 0.3s;
}
.btn-contact{
     background: transparent;
     border-color: #FD6E0A;
     
     border-radius: 5px;
    color:#FD6E0A;
    width: 160px;
    height: 64px;
    border-style: solid;
  
        
}
.btn-contact:hover{
    background:#CF5500;
    transition: 0.3s;
    color:white;
    outline:none;
    border:none;
}
.about{
    background: url(/Image/bg-about.png);
    width: 1140px;
    height:auto;
    Height:550px;
    
}
.card{
    border:none;
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
width: 267px;
height: 377px;
}
.btn-cv{
    background: #FD6E0A;
    border:none;
    outline: none;
    color: white;
    width: 200px;
height: 64px;
border-radius: 4px;
}
.btn-cv:hover{
    background:#CF5500;
    transition: 0.3s;
}

.footer{
    background: url(/Image/footer-bg.png);
    background-size: cover;
    height:auto;
    width:100%;
}
.submit{
    background: #FD6E0A;
    border:none;
    outline: none;
    color: white;
    width: 150px;
    height: 64px;
border-radius: 4px;
}
.submit:hover{
    background:#CF5500;
    transition: 0.3s;
   
}
